h1.app-settings {
    margin: 10px 0;
    a {
        cursor: pointer;
        color: #455156;
        text-decoration: none;
    }
}

.about-dialog {
    td {
        padding-bottom: 10px;
        &:first-child {
            font-weight: bold;
        }
        &:last-child {
            padding-left: 30px;
        }
    }
}
