.tag-collection {
    display: inline;
    .tag-collection-item {
        margin: 3px;
        cursor: pointer;
        &[data-selected="true"] {
            background-color: rgb(173, 216, 230);
        }
    }
    input {
        margin: 0px 0 0 3px;
        vertical-align: middle;
        outline: none;
        border-radius: 6px;
    }
}

.suggestion-list {
    list-style: none;
}
