.user-area {
    float: right;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;

    .account-settings-head {
        margin: 0 5px;
        padding: 5px 10px;

        .account-button-element {
            vertical-align: middle;
            margin: 3px;
        }
    }

}
