.properties-row {
    margin-top: 10px;
}

.title-bar {
    display: block;
    position: relative;
    .title-control {
        top: 4px;
        position: absolute;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }
    .view-icon-button {
        right: 24px;
    }
    .edit-icon-button {
        right: 24px;
    }
    .delete-icon-button {
        right: 0px;
    }
}
.icon-preview-image {
    display: block;
}
.icon-name {
    display: block;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}
.properties-row {
    padding: 0 20px;
}
.download_button {
    min-height: 36px;
    margin: 10px 0 30px;
}
.bg-purple-dark {
    background: #99a9bf;
}

.dialog-footer-actions {
    display: flex;
    justify-content: center;
}
