.upload-container {
    .input-file {
        opacity: 0; /* invisible but it's there! */
        width: calc(100% - 40px);
        height: 150px;
        position: absolute;
        left: 20px;
        cursor: pointer;
    }

    .upload--picture-card {
        display: flex;
        height: 150px;
        width: 100%;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        padding: 30px 20px;
        color: lightgray;
        border-style: dashed;
        border-color: lightgray;
        border-radius: 6px;
        &:hover {
            color: lightblue;
            border-color: lightblue;
        }
    }

    .dropbox p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 0;
    }
}
